.image{
    padding-top: 7%;
    padding-left: 45%;
    padding-right: 20%;
    height: 100px;
}

.align{
    padding-top: 3%;
    padding-left: 35%;
    font-family:sans-serif;
    font-size: 15px;
}

.feild{
    height:35px;
    width:360px;
    border-color: #028afa;
    box-shadow:0 0 5px #028afa;
}

button.feild{
    height:35px;
    width:360px;
    color: white;
    background-color: #028afa;
    transition-duration: 1s;
}


button.feild:hover{
    background-color: #ff6600;
    box-shadow:0 0 10px #ff6600;
    border-color: #ff6600;

}

.bg{
    background-repeat: no-repeat;
    background-size: cover;
}